[api]
port=9090
host=0.0.0.0
debug=true

[ssl]
enable=false
cert=/etc/pki/tls/certs/example.com.crt
key=/etc/pki/tls/private/example.com.key

[logging]
path=/var/log/slurm-api.log

[auth]
jwt_issuer=sapi
jwt_secret=CHANGEME
jwt_lifetime=3600
jwt_algorithm=HS256
